@import "./variables";
@import "./darkMode";
@import './navBar_Footer';
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


#light{

    background-color: map-get($map: $light, $key: 'bright' );
    color: map-get($map: $light, $key: 'text' );
}

#dark{
    background-color: map-get($map: $dark, $key: 'secundary' );
   color: map-get($map: $dark, $key: 'text' );
}

main {
    width: 100%;
    min-height: 60vh;
    @include flexCenter(column, 1, center, center);
    flex-grow: 1;
  }

  
.institutional{
    width: 60%;
    min-height: 60vh;
    @include flexCenter(column,1, center,center);
   

}
.categories {
    width: 100%;
    min-height: 60vh;
  
}